<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" royuterLink="/">Dynamic Routing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="nav-link">Home</a>
      </li>
      <li [ngClass]="{ 'dropdown' : route.children }" class="nav-item" *ngFor="let route of customRoutes">
        <a [ngClass]="{ 'dropdown-toggle' : route.children }" [routerLink]="route.path" routerLinkActive="active" class="nav-link">{{ route.data.name }}</a>

        <div *ngIf="route.children" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-container *ngFor="let subRoute of route.children; let i = index">
            <div>
              <a class="dropdown-item" *ngIf="i !== 0" [routerLink]="[route.path, subRoute.path]">{{ subRoute.data.name }}</a>

              <div *ngIf="subRoute.children" class="sub-dropdown">
                <ng-container *ngFor="let subSubRoute of subRoute.children">
                  <a *ngIf="subSubRoute.path !== ''" [routerLink]="[route.path, subRoute.path, subSubRoute.path]">{{ subSubRoute.data.name }}</a>
              </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
